/** GLOBALES **/
body {
    font-family: 'Gotham SSm A', sans-serif;
}

/** BOTONES **/

/** SECCION 1 **/
.seccion-1 {
    background-image: url(../src/images/pexels-megapixelstock-113176.jpg);
    height: 100vh;
}

/** SECCION 2 **/

/** SECCION 3 **/

/** FOOTER **/