<div class="card" style="width: 18rem;">
    <img src="src/images/{IMAGE}" class="card-img-top" alt="{IMAGE}">
    <div class="card-body">
        <h5 class="card-title">{NAME}</h5>
        <p class="card-text">Varietal: {VARIETAL}</p>
        <p class="card-text">Stock: {STOCK}</p>
        <p class="card-text">Precio: ${PRICE}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Otro dato: ...</li>
        <!-- Agrega más elementos de lista según sea necesario -->
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Detalles</a>
        <a href="#" class="card-link">Comprar</a>
    </div>
</div>
