/** GLOBALES **/

body {
    font-family: 'Gotham SSm A', sans-serif;
}

h1 {
/** tamaño **/
}

h2 {
/** tamañó **/
}

h3{
/** tamaño **/
}

h4 {
/** tamaño **/
}

:root{
    --dorado1: #d2ae6d;
    --dorado2: #d0a96a;
    --dorado3: #c99960;
    --bordo: #6c0624;
    --carmesi: #883830;
    --rojo: #b72537;
    --blanco: #ffffff;
    --negro: #000000;
    --plateado: #d6d6d7;
    --gris: #84848c;
    --marron: #846c4c; 
}

/**.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}**/


/** SECCION 1 **/ 

/** SECCION 2 **/ 

/** SECCION 3 **/

/** SECCION 4 **/ 

/** SECCION 5 **/ 

/** FOOTER **/ 

/** CARDS **/ 

/** BOTONES **/ 

/** MEDIAS Q **/

