/** GLOBALES **/
body {
    margin: 0;
    font-family: 'Gotham SSm A', sans-serif;
}

.contenedor {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --dorado1: #d2ae6d;
    --dorado2: #d0a96a;
    --dorado3: #c99960;
    --bordo: #6c0624;
    --carmesi: #883830;
    --rojo: #b72537;
    --blanco: #ffffff;
    --negro: #000000;
    --plateado: #d6d6d7;
    --gris: #84848c;
    --marron: #846c4c;
}


/*img {
    width: 100%;
    height: auto;
    object-fit: cover;
}*/


/** SECCION 1 **/
.container-s1 {
    margin: auto;
}

.container-s1 .bg {
    background:
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(82, 51, 10, 0)),
        url(../images/bodega/portada.jpg);
    /* Ajusta los valores RGBA según tus preferencias */
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container-s1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.container-s1 .bg img {
    height: 150px;
    width: auto;
    animation: fadeIn;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.bienvenidos p {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 23px;
    margin: 10px;
    padding-bottom: 50px;
    animation: fadeIn;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    font-size: 18px;
    animation: fadeInUp;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 7s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bg span {
    text-align: center;
    color: var(--blanco);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 15px;
}



@media screen and (min-width: 768px) {
    .container-s1 .bg img {
        height: 300px;
        width: auto;
    }

    em {
        font-size: 25px;
    }
}

/** SECCION 2 **/
.container-s2 {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100vh;
    height: 100%;
    margin: auto;
}

.container-cards {
    background: linear-gradient(to right top, var(--carmesi), var(--dorado1));
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-bottom: 50px;
}

.card {
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover {
    transform: translateY(-10px);
}

.card:hover .card-header img {
    transform: scale(1.1);
}

.card-header {
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.card-header img {
    width: 110%;
    transition: all 300ms;
}

.card h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: var(--plateado);
    display: flex;
    justify-content: center;
}

.card p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: var(--plateado);
    letter-spacing: 0.4px;
    flex-grow: 2;
}

.card span {
    color: var(--dorado1);
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    color: var(--plateado);
    text-align: center;
}

.card hr {
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: var(--plateado);
}

.card-footer {
    margin-top: 10px;
    display: flex;
}

.card-footer a {
    text-decoration: none;
    text-align: center;
    color: var(--dorado1);
    flex-grow: 1;
}


@media screen and (min-width: 768px) {
    .container-cards {
        padding-bottom: 100px;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 100px 45px 0 45px;
    }

    .card:first-of-type {
        padding-left: 25px;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .card p {
        flex-grow: 2;
    }
}


/** SECCION 3 **/
.main .cards #theCarousel .carousel-inner {
    height: 100vh;
    background-color: #322a7c;
}


/* realizar de forma recursiva todos los elementos de .carousel-inner  transformar su texto a color blanco */

.carousel-inner * {
    color: #fff !important;

}

.carousel-inner:hover {
    cursor: pointer;

}


 
 


/* SI ESTOY EN MOBILE QUE APLIQUE LA CLASE CONTAINER-S3 SI NO LA CLASE CONTENEDOR*/

/* AHORA INVERSAMENTE */

/* ESTILO PARA SECCION 3 EN LA WEB */
@media screen and (min-width: 768px) {
    .container-s3-mobile {
        display: none;
    }

    .container-s3-web {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        height: 60vh;
        width: 60vh;
    }
}

/* ESTILO PARA SECCION 3 MOBILE */
@media screen and (max-width: 768px) {
    .container-web {
        display: none;
    }

    .container-mobile {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        background: var(--dorado1);
    }
}





.flip-card {
    position: relative;
    width: 40vh;
    height: 50vh;
    margin: 10px;
}

.flip-card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.flip-card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px var(--negro);
}

.flip-card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 59px;
    line-height: 61px;
    color: var(--blanco);
    background: rgba(136, 56, 48, 0.7);
    text-align: center;
    overflow: hidden;
}

.flip-card .back {
    transform: perspective(600px) rotateY(180deg);
    background: var(--carmesi);
    padding: 15px;
    color: var(--plateado);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px var(--negro);
}

.flip-card .back .info {
    border-top: solid 1px var(--negro);
    height: 50px;
    line-height: 50px;
}

.flip-card .back .info a {
    color: var(--plateado);
    text-decoration: none;
    margin: 3px;
    padding: 5px;
}

.flip-card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.flip-card .back p {
    letter-spacing: 1px;
}

.flip-card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.flip-card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

@media screen and (min-width: 768px) {
    .container-s3-mobile {
        min-height: 70vh;
    }
}










































/*.container-s3 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.flip-card {
    position: relative;
    width: 400px;
    height: 450px;
}

.flip-card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
}

.flip-card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px var(--gris);
}

.flip-card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 50px;
    color: var(--blanco);
    background: rgba(136, 56, 48, 0.4);
    text-align: center;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg); 
}

.flip-card .back {
    transform: perspective(600px) rotateY(180deg);
    background: var(--dorado1);
    padding: 15px;
    color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px var(--negro);
}

.flip-card .back .info {
    border-top: 1.5px solid var(--negro);
    height: 50px;
    line-height: 50px;
}

.flip-card .back .info a {
    color: var(--negro);
    text-decoration: none;
    margin: 3px;
    padding: 5px;
}

.flip-card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.flip-card .back p {
    letter-spacing: 1px;
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg); 
}*/






































/** FOOTER **/

.footer {
    background-color: var(--negro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer img {
    height: auto;
    width: 250px;
}

.footer p {
    padding-bottom: 50px;
    margin-bottom: 25px;
}


/** BOTONES **/
.boton-card {
    display: block;
    margin: 3px;
    padding: 5px;
    background-color: var(--carmesi);
    border-radius: 15px;
}

.boton-card:hover {
    text-decoration: none;
    color: var(--dorado2);
}