/** GLOBALES **/
body {
    margin: 0;
    font-family: 'Gotham SSm A', sans-serif;
}

.contenedor {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

:root{
    --dorado1: #d2ae6d;
    --dorado2: #d0a96a;
    --dorado3: #c99960;
    --bordo: #6c0624;
    --carmesi: #883830;
    --rojo: #b72537;
    --blanco: #ffffff;
    --negro: #000000;
    --plateado: #d6d6d7;
    --gris: #84848c;
    --marron: #846c4c; 
}


/*img {
    width: 100%;
    height: auto;
    object-fit: cover;
}*/


/** SECCION 1 **/
.container-s1 {
    margin: auto;
}

.container-s1 .bg {
    background: 
    linear-gradient( rgba(0, 0, 0, 0.9), rgba(82, 51, 10, 0)),
    url(../images/bodega/portada.jpg);
     /* Ajusta los valores RGBA según tus preferencias */
    background-repeat: none;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid #fffefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container-s1 {
    color: var(--blanco);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.container-s1 .bg img {
    height: 110px;
    width: auto;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s;
}

.bienvenidos p{
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 23px;
    margin: 10px;
    padding-bottom: 50px;
}

.bg span {
    text-align: center;
    color: var(--blanco);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 15px;
}

em {
    font-size: 20px;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 7s;
}




/** SECCION 2 **/
.container-s2 {
    max-width: 1200px;
    height: 600px;
    margin: auto;
    /*position: absolute;*/
}

.container-cards {
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.card {
    width: 350px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover {
    transform: translateY(-10px);
}

.card:hover .card-header img {
    transform: scale(1.1);
}

.card-header {
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.card-header img {
    width: 110%;
    transition: all 300ms;
}

.card h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: var(--plateado);
}

.card p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: var(--plateado);
    letter-spacing: 0.4px;
    flex-grow: 2;
}

.card span {
    color: var(--dorado1);
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    color: var(--plateado);
    text-align: center;
}

.card hr {
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: var(--plateado);
}

.card-footer {
    margin-top: 10px;
    display: flex;
}

a {
    text-decoration: none;
    text-align: center;
    color: var(--dorado1);
    flex-grow: 1;
}


@media screen and (min-width: 768px) {
    .container-cards {
        margin-top: 100px;
        padding-bottom: 100px;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 0 45px 0 45px;
    }

    .card:first-of-type {
        padding-left: 25px;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .card p {
        flex-grow: 2;
    }
    /*.card:last-of-type {

    }*/
}


/** SECCION 3 **/
.container-s3 {
    max-width: 1200px;
    height: 600px;
    margin: auto;
    position: absolute;
}

.flip-card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.flip-card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.flip-card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5p 10px var(--negro);
}

.flip-card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    line-height: 45px;
    color: var(--plateado);
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.flip-card .back {
    transform: perspective(600px) rotateY(180deg);
    background: var(--dorado1);
    padding: 15px;
    color: var(--rojo);
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px var(--negro);
}

.flip-card .back .info {
    border-top: 1px solid var(--negro);
    height: 50px;
    line-height: 50px;
}

.flip-card .back .info a {
    color: var(--blanco);
}

.flip-card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.flip-card .back p {
    letter-spacing: 1px;
}

.flip-card .front {
    transform: perspective(600px) rotateY(180deg);
}

.flip-card .back {
    transform: perspective(600px) rotateY(360deg);
}









/*.seccion-3 {
    margin:15px 5px 15px 5px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid var(--negro);
}

h3 {
    color: var(--negro);
    text-align: center;
    text-transform: uppercase;
}

.seccion-3 .card {
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid var(--bordo);
}

.contenedor {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
}

.seccion-3 .card-header img {
    height: auto;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.seccion-3 .card-title {
    text-align: center;
    margin: 0;
}

.seccion-3 .card-description {
    flex-grow: 1;
}

.seccion-3 .card-description p {
    color: var(--blanco);
}

.seccion-3 .card-header img {
    border-bottom: 1.5px solid var(--carmesi);
    border-radius: 10px 10px 0 0;
    margin-bottom: -10px;
}

.seccion-3 .card-body {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding: 15px 15px;
    text-align: center;
    border: 1px solid #ccc;
    background: var(--rojo);
}

.seccion-3 .btn {
    display: block;
    background-color: var(--plateado);
    padding: 5px;
    text-decoration: none;
    color: var(--negro);
    text-align: center;
    margin-top: 10px;
}*/

/** FOOTER **/

.footer {
    background-color: var(--negro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer img {
    height: auto;
    width: 250px;
}

.footer p {
    padding-bottom: 50px;
    margin-bottom: 25px;
}


/** BOTONES **/
.boton-card {
    display: block;
    margin: 3px;
    padding: 5px;
    background-color: var(--carmesi);
    border-radius: 15px;
}